.DS_Store
logs/
wp-content/backups-dup-lite/
wp-content/backups-dup-lite/*

# ignore .htaccess files (starting with ...*)
# /.htaccess*
.htaccess*

# ignore .htpasswd files
.htpasswd*

# ignore log files and databases (ending with *...)
*.log
*.sql
*.sqlite

#ignore images
# wp-content/uploads/
