.DS_Store
logs/
wp-content/backups-dup-lite/
wp-content/backups-dup-lite/*

# ignore .htaccess files
# /.htaccess
*.htaccess_old_2021_08_25_DNU
*.DNU_htaccess

# ignore .htpasswd files
# *.htpasswd

# ignore log files and databases
*.log
*.sql
*.sqlite
