// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

// Start Maison Château Laguiole colors
$cl: #3C3C3B;
$lw: #881516;
$mg: #03456F;
$gv: #D9A149;
// End Maison Château Laguiole colors
$primary: #00FF00;