.title-separation {
    // font-family: Helvetica Neue;
    display: inline-block;
    text-transform: uppercase;
    border-width: 1px;
    border: solid $secondary;
    border-left: none;
    border-right: none;
}
