.title-separation {
    font-family: Helvetica Neue;
    color: red;
    padding: 0 16px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    border-width: 0.5px;
    border: solid $gray-200;
    border-left: none;
    border-right: none;
}
