// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

//
// add margin bottom for site-content class when header is fixed-top
#masthead {
    margin-top: $header-height;
}

//breadcrumb css

// custom font css
h2 {
    font-weight: $font-weight-light;
}

// custom buttons
.btn:focus {
    box-shadow: none;
}

// default border-radius
$border-radius: 0.1rem;

