#customize3d {
    display: flex;
    align-items: center;
    color: $black;
        .btn3d {
            text-align: start;
                padding-right: 0;
                &:last-child {
                    font-weight: 300;
                    // color: $mg;
                }
                strong:first-child {
                    // color: $red;
                    font-weight: 700;
                }

        }
        .fab {
            font-size: 48px;
        }
        
    }
.category-products #customize3d {
        justify-content: end;
        // color: pink;

    }          
.btn {
    border-radius: 1px !important;
    
}

.stock-container {
  display: flex;
  justify-content: center;
    .box-stock {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $black;
        width: 100%;
        height: 38px;
        margin-bottom: 0;

    }
}
.btn-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.available-on-backorder {
    color: $red !important;
    font-size: .9rem !important;
    line-height: 100%;
}
