.brand {
  padding-bottom: 2.5rem;
    .img-fluid {
      height: 260px;
    }
    .figure {
      padding: 0 8px;
    }
}

// collection cards
#collection {
    .card {
      border: none;
        .card-title {
          text-transform: uppercase;
        }
        .card-img-top, img {
          height: 286px;
          object-fit: contain;
        }
        .card-text {
          color: $mcl;
          font-weight: lighter;
        }
    }  
}
// collection card end


// Swiper Cards
.swiper-wrapper {
    .card {
      // border: 1px solid rgb(0 0 0 / 0%);  
      border: none;  
    }
    .swiper-slide {
        .card-img-top {
          border-radius: 1px;
          width: 320px;
          height: 240px;
          object-fit: cover;
        }
        .card-body { 
          // padding: 1rem 0rem;
            .text-muted {
              border-bottom: 0.1rem solid $gray-200;
              padding-bottom: 0.5rem;
              
            }
            h2 {
              font-size: 1.5rem;
              text-transform: uppercase;
            }

        }
    }
}
.swiper-button-next, .swiper-button-prev {
  display: none;
}
// Swiper Cards END //
