.brand {
  padding-bottom: 2.5rem;
    .img-fluid {
      height: 260px;
    }
    .figure {
      padding: 0 8px;
    }
}

.card {
  border: none !important;
}
.card-body { 
  padding: 0 1rem !important;
    h2 {
      font-size: 1.5rem;
    }
}
// collection cards
#collection {
    .card {
      border: none;
        .card-title {
          text-transform: uppercase;
        }
        .card-img-top, img {
          height: 286px;
          object-fit: contain;
        }
        .card-text {
          color: $mcl;
          font-weight: lighter;
        }
    }  
}
// collection card END **//


// category-products
.category-products {
      .card-img-top {
        height: 208px;
        object-fit: cover;
        // padding: 0 24px;
      }
      .card .price .woocommerce-Price-amount.amount {
        // font-size: 1rem;
        font-weight: bold;
      }
}
// category-products END **//
//line-separator
hr, .line-separator {
  border-top: 0.5px solid $gray-500;
  // border-top: 3.5px solid $pink;
}  

// Swiper Cards
.swiper-wrapper {
    .card {
      // border: 1px solid rgb(0 0 0 / 0%);  
      border: none;
      min-width: auto;
    }
    .swiper-slide {
        .card-img-top {
          // border-radius: 1px;
          width: 320px;
          height: 240px;
          object-fit: cover;
        }
        .card-body {
            .swiper-card-text {
                // hr, .line-separator {
                //   border-top: 0.5px solid $gray-500;
                // }
                h2 {
                  font-size: 1.5rem;
                  text-transform: uppercase;
                }
                .card-text {
                  font-weight: 300;
                }

            }
          #btn-read-more {
            // border-radius: 1px;
            font-weight: 300;
            line-height: 1;
          }

        }
    }
}
.swiper-button-next, .swiper-button-prev {
  display: none;
}
// Swiper Cards END //

//content-product-cat card
.woocommerce-loop-category__title {
  mark {
    display: none;
  }
}
