.brand {
  padding-bottom: 2.5rem;
    .img-fluid {
      height: 260px;
    }
    .figure {
      padding: 0 8px;
    }
}

// collection cards
#collection {
    .card {
      border: none;
        .card-title {
          text-transform: uppercase;
        }
        .card-img-top, img {
          height: 286px;
          object-fit: contain;
        }
        .card-text {
          color: $mcl;
          font-weight: lighter;
        }
    }  
}
// collection card end


// Swiper Cards
.swiper-wrapper {
    .card {
      // border: 1px solid rgb(0 0 0 / 0%);  
      border: none;  
    }
    .swiper-slide {
        .card-img-top {
          border-radius: 1px;
          width: 320px;
          height: 240px;
          object-fit: cover;
        }
        .card-body { 
          .swiper-card-text {
              hr, .line-separator {
                border-top: 0.5px solid $gray-500;
              }
              h2 {
                font-size: 1.5rem;
                text-transform: uppercase;
              }
              .card-text {
                font-weight: 300;
              }

        }

        }
    }
}
.swiper-button-next, .swiper-button-prev {
  display: none;
}
// Swiper Cards END //
