.cat-image {
  width: 100vw;
  object-fit: none;
  max-height: 440px;
}

.category-products {
    margin: 0 24px;
      #stock-container:first-child {
          display: none;
      }
      .cart-mcl {
          width: 100%;
          margin-left: 0;
      }

}

// title
.category-product-title {
    text-align: center;
        h1 {
            text-transform: uppercase;
            font-weight: 300;
        }
}

// description
.term-description {
    text-align: center;
    margin: 0 12vw;
    padding: 0 4px;
}

// changed the css of the last word with ".last-word" or "h1 > span:last-child"
.last-word {
    font-weight: 700; /* Or whatever you want to do with this element */
    // color: pink;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}
h1 > span:last-child {
//   color: #c09;
  color: $black;
}

.woocommerce-Price-currencySymbol {
    margin: 0 0.2rem;
}