.cat-image {
//   height: 400px !important;
  width: 100vw;
  object-fit: none;
}

.term-description {
    margin: 0 12vw;
    padding: 0 4px;
}

.category-products {
    margin: 0 24px;
}

.category-product-title {
        h1 {
            text-transform: uppercase;
        }
        h1::first-word {
            font-weight: 700;
            color: $red;
            font-size: 48px;

        }
}

// changed the css of the last word with ".last-word" or "h1 > span:last-child"
.last-word {
    font-weight: 700; /* Or whatever you want to do with this element */
    // color: pink;
}
h1 > span:last-child {
  color: #c09;
}

.woocommerce-Price-currencySymbol {
    margin: 0 0.2rem;
}