.cat-image {
  height: 400px !important;
  width: 100vw;
  object-fit: none;
}

.term-description {
    margin: 0 12vw;
    padding: 0 4px;
}

.category-products {
    margin: 0 24px;
}

.category-product-title {
        h1 {
            text-transform: uppercase;
            font-weight: 700;
        }
}
