.card-body {
    h2 {
    }
    .woocommerce-loop-product__title {
        display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp, 1);
        -webkit-box-orient: vertical;
        word-break: var(--word-break, 'none');
        overflow: hidden;
        hyphens: auto;
        text-align: var(--align, left);

        // Automatically use "word-break: break-all" for single-lines
        // (https://css-tricks.com/css-switch-case-conditions)
        --is-single-line: 1 - Clamp(0, Calc(var(--line-clamp) - 1), var(--line-clamp));
        --delay: Calc(-1s * (var(--is-single-line, 1) - 1)); 
        animation: states 1s var(--delay) paused; 

        @keyframes states {
            0% { word-break: break-all; }       
        }
        //
        // font-size: var(--font-size, 1em);
        width: var(--width, 100%);
        position: relative;
        background: inherit;

        &:hover {
          outline: 2px dotted #ffffff99;
        }

        // fade text's last word, if clamped ()
        &::after {
          content: "";
          width: 18ch;
          height: 2rem;
          position: absolute;
          bottom: 0;
          right: 0;
          pointer-events: none;
        //   background: linear-gradient(90deg, transparent, var(--bg));
        //   background: inherit; // it's easier to work with inheritance
          background: $white; // won't work with inheritance

        //   -webkit-mask-image: -webkit-radial-gradient(85% 85%, transparent 7px, black 8px);
        //   -moz-mask-image: -moz-radial-gradient(circle at 85% 85%, transparent 7px, black 8px);
        //   mask-image: radial-gradient(circle at 85% 85%, transparent 7px, black 8px);

          mask-image: linear-gradient(to left, black, transparent);
          -moz-mask-image: linear-gradient(to left, black, transparent);
          -webkit-mask-image: linear-gradient(to left, black, transparent);
          transition: 0.2s;
        }

        &.clamped {
          &::after {
            width: 3em;
          }
        }
    }

}
