.entry-summary {
    // text-align: left;
    padding-right: 6rem;
        .price {
            text-align: right;
        }
        .woocommerce-product-details__short-description > p:first-child {
            font-size: 1.5rem;
            }
        .btn-inline {
            .box-stock {
                width: 50%;
             }
        }
}


.woocommerce div.product form.cart {
    margin-bottom: 0;
}

.woocommerce-tabs {
    // text-align: start;
    padding: 2rem;
}
