// change your font here
// $font-family-sans-serif: 'Helvetica Neue', Arial;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$font-family-sans-serif: 'Roboto', sans-serif;

.woocommerce div.product p.price .woocommerce-Price-amount.amount {
    font-size: 1.75rem !important;
        bdi {
            font-weight: 700;
            // color:  blue;
        }
}