.bootscore-footer {
    background-color: $cl;
    text-transform: uppercase;
        #follow-us {
            text-transform: initial;
        }
        a {
            color: $white;
            opacity: .3;
            &:hover {
                color: $white;
                opacity: 1;

            }
        }
        .bottom-footer {
            margin: 0 24px;
                .footer_widget img, svg {
                    width: 70%;
                }
        }
       
        .fab {
            font-size: 2rem;
            padding-right: 1rem;
        }
}

.bootscore-info {
    display: none;
}

/* footer */
#rtn-top {
    border-color: $white;
}