.bootscore-footer {
    background-color: $cl;
        a {
            color: $white;
            opacity: .3;
            &:hover {
                color: $white;
                opacity: 1;

            }
        }
        .bottom-footer {
            // display: flex;
            // justify-content: space-between;
                .footer_widget img, svg {
                    width: 90%;
                }
        }
       
        .fab {
            // color: $white;
            font-size: 3rem;
            padding-right: 1rem;
        }
}
