#nav-main>.btn, .btn-outline-primary  {
    border: none !important;
}

#nav-main {
    .dropdown-menu {
            border-width: 0;
            border-left-width: 2px;
            border-color: $gv;
            border-radius: 0.1rem; 
    }
}    
.site-header {
        .offcanvas-start {
            width: 240px;
        }
}

.offcanvas-body {
    overflow-y: inherit !important;
        .dropdown-divider {
            width: 3rem;
        }   
        .navbar-nav {
            .nav-link {
                padding-left: 16px;
            }
        }
        
        .dropdown-menu {
            border-width: 0;
            border-inline-start: 2px solid $gv;    
        }

}
