.featured-full-width-img-brand {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // height: 464px;
    // height: 400px;
}
.featured-full-width-img {
    background-position: inherit;
    // height: 32vh !important;
}

.featured-full-width-img-brand, .featured-full-width-img {
    height: $presentation-img-height;
    // border-top: $presentation-border-top-height solid $border-color;

}

.title-separation {
    padding: 4px 56px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    border: 0.1rem solid $gray-200;
    border-left: none;
    border-right: none;
    margin-bottom: 2.5rem;
}

.entry-content {
    // .wp-block-columns {
    //     padding-right: 0.25rem;
    //     padding-left: 0.25rem;
    // }
    h2 {
        strong {
            font-weight: bold;
        }
    }
}

.entry-header {
        #brand-logo-header {
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            height: 480px;
            // margin: 40px;
            // position: relative;
            // top: -40px; // blason MCL position (en relation avec padding navbar et _svg size
            // z-index: 1020;
            // background-color: $mcl;
        
        }
      

}

#mcl-logo {
    align-self: center;
    padding: 28px;
}

.brand {
    img {
        width: 320px;
    }
}
