.featured-full-width-img-brand {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.featured-full-width-img {
    background-position: inherit;
    // height: 32vh !important;
}

.title-separation {
    padding: 4px 56px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    border: 0.1rem solid $gray-200;
    border-left: none;
    border-right: none;
    margin-bottom: 2.5rem;
}

.entry-header {
        #brand-logo-header {
            justify-content: center;
            margin: 40px;
            position: relative;
            top: -66px; // blason MCL position (en relation avec padding navbar et _svg size
            z-index: 1020;
        }
      

}

#mcl-logo {
    align-self: center;
    background-color: $mcl;
    padding: 80px;

}
#cl-logo {
    background-color: $cl;
}
#lw-logo {
    background-color: $lw;
}
#mg-logo {
    background-color: $mg;
}
#gv-logo {
    background-color: $gv;
}
