.title-separation {
    padding: 4px 56px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    border: 0.1rem solid $gray-200;
    border-left: none;
    border-right: none;
    margin-bottom: 2.5rem;
}

.entry-header {
    height: 420px;
        #brand-logo-header {
            height: 340px;
            position: relative;
            top: -36px; // blason MCL position (en relation avec padding navbar et _svg size
            z-index: 1020;
            padding: 8px 8px;
        }
      

}

#mcl-logo {
    background-color: $mcl;
    padding: 80px;

}
#cl-logo {
    background-color: $cl;
}
#lw-logo {
    background-color: $lw;
}
#mg-logo {
    background-color: $mg;
}
#gv-logo {
    background-color: $gv;
}
