/* large devise */
// @media (min-width: 992px) {

// }

// /* medium devise */
// @media (min-width: 768px) {

// }

/* Smartphone */
@media screen and (max-width: 600px) {

  // home page
  .entry-header {
      #brand-logo-header {
        align-self: center;
        position: inherit;
        top: 0;
        height: fit-content;
        z-index: 1010;
          #mcl-logo {
            padding: 40px;
          }
      }
  }
  .brand {
    .figure {
      margin-bottom: 40px;

      .img-fluid {
        width: 100vw;
        margin-bottom: 0px;
      }
    }
  }
  // #collection {
  //   padding-left: 0 !important;
  //   padding-right: 0 !important;
  // }

  // nav
  #nav-main .container-fluid {
    // justify-content: flex-end;
    justify-content: space-around !important;
  }
  .navbar-brand {
    .logo {
      height: 42px;
    }
  }

  //burger small devise
  .fas.fa-bars {
    margin-left: 24px;
  }

  // cat-product
  .category-products {
    margin: 0 !important;
  }

  // stock container
  .stock-container {
    margin-bottom: 4px;
    
  }
  //woocommerce.php ou category-content
  .term-description {
    
      margin: 0 !important;
  
  }

  // content-single-product
  .woocommerce-product-details__short-description {
    text-align: center;
  }
  .entry-summary {
    padding-right: 0 !important;
      #stock-container {
          margin-left: 0;
      }
  }
  .btn-inline {
    .box-stock {
        width: 100% !important;
      }

    flex-direction: column-reverse;
    align-items: end;
      .stock-container {
        width: 50%;
      }
      .cart {
        margin-bottom: 6px !important;
        display: flex;
        justify-content: end;
        width: 100%;
            .single_add_to_cart_button {
              width: 50%;
            }
      }

  }
  .woocommerce div.product p.price, .woocommerce div.product span.price, .card .price {
    text-align-last: end;
  }
  .woocommerce div.product form.cart {
    // margin-bottom: 8px !important;
  }

  // btn quantity
  .woocommerce-cart-form__cart-item.cart_item {
        .product-quantity {
          width: 100%;
            .quantity {
              // margin-left: 5rem;
              margin-left: auto;
              max-width: 50%;
                .qty_button.plus {
                  padding-right: 0.25rem;
                }
            }
        }
  }

  // whishlist page
  .product-cb, .product-date {
    display: none !important;
  }

  #table-body-wishlist {
      .wishlist_item {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

          .product-remove {
            width: 20vw !important;
    
          }
          .product-thumbnail {
            width: 20vw !important;
    
          }
          .product-name {
            width: 40vw !important;
    
          }
          .product-price {
            width: 100vw !important;
    
          }
          
          .product-stock {
            width: 100vw !important;
    
          }
          .product-action {
            // width: 20vw !important;
    
          }
      }
  }
  
  // account
  .woocommerce .woocommerce-MyAccount-navigation {
    display: none;
  }

  // actuality id bg-dark and text-white
  // #mcl-actuality {
  //   color: $white;
  //   background-color: $black;
  // }
}
/* Smartphone END */

