/* large devise */
// @media (min-width: 992px) {

// }

// /* medium devise */
// @media (min-width: 768px) {

// }

/* Smartphone */
@media screen and (max-width: 600px) {

  // home page
  .entry-header {
      #brand-logo-header {
        align-self: center;
        position: inherit;
        top: 0;
        height: fit-content;
        z-index: 1010;
          #mcl-logo {
            padding: 40px;
          }
      }
  }
  .brand {
    .figure {
      margin-bottom: 40px;

      .img-fluid {
        width: 100vw;
        margin-bottom: 0px;
      }
    }
  }

  // nav
  #nav-main .container-fluid {
    justify-content: flex-end;
  }
  .navbar-brand {
    .logo {
      height: 42px;
    }
  }

  // stock container
  .stock-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
      .box-stock {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $black;
        width: 100%;
      }
  }
  //woocommerce.php ou category-content
  .term-description {
    
      margin: 0 !important;
  
  }

  // content-single-product
  .woocommerce-product-details__short-description {
    text-align: center;
  }
}
