.ftinvwl-facebook:hover {
    color: $facebook;
}

.ftinvwl-twitter:hover {
    color: $twitter;
}

.ftinvwl-whatsapp:hover {
    color: $whatsapp;
}

.ftinvwl-clipboard:hover {
    color: $gv;
}

.ftinvwl-email:hover {
    color: $mg;
}
