.navbar-brand {
  margin-right: 0.75rem;
  .logo {
      height: 54px;

  }
}
// .footer_widget img, svg {
//   width: 32px;
// }

// SVG in header nav-bar (user, cart ...)
.header-actions {
    .phone-logo{
      width: 20px;
    }
    .help-logo {
      width: 24px;
    }
    .flag-logo {
      width: 24px;
    }
    .user-logo, .cart-logo {
      width: 24px; // Gilles SVG
    }
}
