// .icon_above_image {
//     right: 10px;
//     top: 178px;
// }

.tinv-wishlist > a {
        color: $red;
        &:hover {
            color: $red;
        }
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt:before, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before {
    font-size: 2rem;
}