.single-product {
    .tinv-wishlist {
        display: flex;
        flex-direction: row-reverse;
    }

}

.tinv-wishlist > a {
        // color: $red;
        color: $black;
        &:hover {
            // color: $red;
            color: $black;
        }
}

/**
* change the wishlist icon with :before & :after
*/
// empty heart
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before, .woocommerce ul.products li.product a.tinvwl-button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before, .woocommerce-page ul.products li.product a.tinvwl-button.tinvwl-icon-heart.tinvwl_add_to_wishlist_button:before, a.wishlist_products_counter.top_wishlist-heart:before, span.wishlist_products_counter.top_wishlist-heart:before, a.sidr-class-wishlist_products_counter.sidr-class-top_wishlist-heart:before {
    visibility: hidden;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:after, .woocommerce ul.products li.product a.tinvwl-button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart:after, .woocommerce-page ul.products li.product a.tinvwl-button.tinvwl-icon-heart.tinvwl_add_to_wishlist_button:after, a.wishlist_products_counter.top_wishlist-heart:after, span.wishlist_products_counter.top_wishlist-heart:after, a.sidr-class-wishlist_products_counter.sidr-class-top_wishlist-heart:after {
    visibility: visible;
    content: url("../../img/svg/heart.svg");
}

// selected heart
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list:before {
    visibility: hidden;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list:after {
    visibility: visible;
    content: url("../../img/svg/heart-select.svg");
}

//manage heart svg size
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt:before, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before {
    width: 22px;
    height: 100%;
    margin: 0px 8px 0 0;
}

// wish-heart in HEADER
.wishlist-link {
    width: 24px; // SVG size

        .wishlist_products_counter.top_wishlist-heart.top_wishlist-.no-txt.wishlist-counter-with-products {
            &::before {
                visibility: hidden;
        
            }
            &::after {
                visibility: visible;
                content: url("../../img/svg/heart-select.svg");
            }
        }
    // wish-product-counter
    .wishlist_products_counter_number {
        position: relative;
        top: 12px;
    }

}

// empty wishlist page
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border: none;
}

P.cart-empty.woocommerce-info:before {
    
    /* Using the zoom property to
    control the size of the SVG */
    display: inline-flex;
    content: '';
    
    /* Using the background-image and
    its related properties to add
    the SVG content */
            background-image: url('../../img/logo/heart-broken-solid.svg');
            background-size: 24px 24px;
            height: 24px;
            width: 24px;
            background-repeat: no-repeat;
            
}